# Generalized Linear Regression

## This is Multiple Linear Regression on Advertising dataset

## Library

In [158]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Dataset

In [159]:
df = pd.read_csv('Advertising.csv')

In [160]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

## Train Test Split

In [161]:
l = [1,2,3,4,5]
print(l[:-1])
print(l[-1])

[1, 2, 3, 4]
5

In [162]:
x = df['TV']
x

0      230.1
1       44.5
2       17.2
3      151.5
4      180.8
       ...
195     38.2
196     94.2
197    177.0
198    283.6
199    232.1
Name: TV, Length: 200, dtype: float64

In [163]:
x.ndim

1

#### Here the dimension of x is 1 which will cause error in train test split ,since tran test split expects x to be 2 dimensional.

#### so the way we can do is 
#### i)  x = np.array(df['TV']).reshape(len(x),1)
#### ii) x = df[['TV']]
#### ii) x = df[df.columns[:-1]]

In [164]:
# x = np.array(df['TV']).reshape(len(x),1)
# x
# x.ndim

In [165]:
# x = df[['TV']]
# x
# x.ndim

In [166]:
x = df[df.columns[:-1]]
x

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [167]:
x.ndim

2

In [168]:
y = df[df.columns[-1:]]
y

     sales
0     22.1
1     10.4
2      9.3
3     18.5
4     12.9
..     ...
195    7.6
196    9.7
197   12.8
198   25.5
199   13.4

[200 rows x 1 columns]

In [169]:
y.ndim

2

In [170]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.25,random_state=42)

In [171]:
x_train

        TV  radio  newspaper
114   78.2   46.8       34.5
173  168.4    7.1       12.8
5      8.7   48.9       75.0
126    7.8   38.9       50.6
117   76.4    0.8       14.8
..     ...    ...        ...
106   25.0   11.0       29.7
14   204.1   32.9       46.0
92   217.7   33.5       59.0
179  165.6   10.0       17.6
102  280.2   10.1       21.4

[150 rows x 3 columns]

In [172]:
x_train = x_train.reset_index()
x_train

     index     TV  radio  newspaper
0      114   78.2   46.8       34.5
1      173  168.4    7.1       12.8
2        5    8.7   48.9       75.0
3      126    7.8   38.9       50.6
4      117   76.4    0.8       14.8
..     ...    ...    ...        ...
145    106   25.0   11.0       29.7
146     14  204.1   32.9       46.0
147     92  217.7   33.5       59.0
148    179  165.6   10.0       17.6
149    102  280.2   10.1       21.4

[150 rows x 4 columns]

In [173]:
y_train

     sales
114   14.6
173   11.7
5      7.2
126    6.6
117    9.4
..     ...
106    7.2
14    19.0
92    19.4
179   12.6
102   14.8

[150 rows x 1 columns]

# Linear Regression

In [174]:
n = len(x_train.columns)
n

4

In [175]:
A = np.zeros((n,n))
A

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [176]:
H = np.zeros((n,1))
H

array([[0.],
       [0.],
       [0.],
       [0.]])

In [177]:
for i in range(n):
    for j in range(n):
        if i==0 and j==0 :
            A[i,j] = len(x_train)
        else:
            if i==0 :
                A[i,j] = x_train[x_train.columns[j]].sum()
            elif j==0 :
                A[i,j] = x_train[x_train.columns[i]].sum()
            else :
                A[i,j] = (x_train[x_train.columns[i]] * x_train[x_train.columns[j]]).sum()

A

array([[1.50000000e+02, 2.29437000e+04, 3.52460000e+03, 4.56870000e+03],
       [2.29437000e+04, 4.58844681e+06, 5.47293150e+05, 7.02997450e+05],
       [3.52460000e+03, 5.47293150e+05, 1.15926160e+05, 1.24943100e+05],
       [4.56870000e+03, 7.02997450e+05, 1.24943100e+05, 2.03192210e+05]])

In [178]:
for i in range(n):
    if i==0 :
        H[i,0] = y_train[y_train.columns[0]].sum()
    else :
        H[i,0] = (x_train[x_train.columns[i]].values * y_train[y_train.columns[0]].values).sum()

H

array([[  2145.7 ],
       [378802.24],
       [ 57173.57],
       [ 69075.9 ]])

In [179]:
A_list = list()

for j in range(n):
    temp_A = A.copy()
    temp_A[:,j] = H.reshape(n,)
    A_list.append(temp_A)

A_list

[array([[2.14570000e+03, 2.29437000e+04, 3.52460000e+03, 4.56870000e+03],
        [3.78802240e+05, 4.58844681e+06, 5.47293150e+05, 7.02997450e+05],
        [5.71735700e+04, 5.47293150e+05, 1.15926160e+05, 1.24943100e+05],
        [6.90759000e+04, 7.02997450e+05, 1.24943100e+05, 2.03192210e+05]]),
 array([[1.5000000e+02, 2.1457000e+03, 3.5246000e+03, 4.5687000e+03],
        [2.2943700e+04, 3.7880224e+05, 5.4729315e+05, 7.0299745e+05],
        [3.5246000e+03, 5.7173570e+04, 1.1592616e+05, 1.2494310e+05],
        [4.5687000e+03, 6.9075900e+04, 1.2494310e+05, 2.0319221e+05]]),
 array([[1.50000000e+02, 2.29437000e+04, 2.14570000e+03, 4.56870000e+03],
        [2.29437000e+04, 4.58844681e+06, 3.78802240e+05, 7.02997450e+05],
        [3.52460000e+03, 5.47293150e+05, 5.71735700e+04, 1.24943100e+05],
        [4.56870000e+03, 7.02997450e+05, 6.90759000e+04, 2.03192210e+05]]),
 array([[1.50000000e+02, 2.29437000e+04, 3.52460000e+03, 2.14570000e+03],
        [2.29437000e+04, 4.58844681e+06, 5.47293150e+05, 3.78802240e+05],
        [3.52460000e+03, 5.47293150e+05, 1.15926160e+05, 5.71735700e+04],
        [4.56870000e+03, 7.02997450e+05, 1.24943100e+05, 6.90759000e+04]])]

In [180]:
b_list = list()

for i in range(n):
    b = np.linalg.det(A_list[i]) / np.linalg.det(A)
    b_list.append(b)

b_list

[2.7783034602452865,
 0.04543355862464998,
 0.19145653561741421,
 0.002568090815700496]

In [181]:
print('intercept :',b_list[0])

intercept : 2.7783034602452865

In [182]:
print('coefficients :')
for i in range(1,n):
    print('b'+str(i),':',b_list[i])

coefficients :
b1 : 0.04543355862464998
b2 : 0.19145653561741421
b3 : 0.002568090815700496

In [183]:
x_test

        TV  radio  newspaper
95   163.3   31.6       52.9
15   195.4   47.7       52.9
30   292.9   28.3       43.2
158   11.7   36.9       45.2
128  220.3   49.0        3.2
115   75.1   35.0       52.7
69   216.8   43.9       27.2
170   50.0   11.6       18.4
174  222.4    3.4       13.1
45   175.1   22.5       31.5
66    31.5   24.6        2.2
182   56.2    5.7       29.7
165  234.5    3.4       84.8
78     5.4   29.9        9.4
186  139.5    2.1       26.6
177  170.2    7.8       35.2
56     7.3   28.1       41.4
152  197.6   23.3       14.2
82    75.3   20.3       32.5
68   237.4   27.5       11.0
124  229.5   32.3       74.2
16    67.8   36.6      114.0
148   38.0   40.3       11.9
93   250.9   36.5       72.3
65    69.0    9.3        0.9
60    53.5    2.0       21.4
84   213.5   43.0       33.8
67   139.3   14.5       10.2
125   87.2   11.8       25.9
132    8.4   27.2        2.1
9    199.8    2.6       21.2
18    69.2   20.5       18.3
55   198.9   49.4       60.0
75    16.9   43.7       89.4
150  280.7   13.9       37.0
104  238.2   34.3        5.3
135   48.3   47.0        8.5
137  273.7   28.9       59.7
164  117.2   14.7        5.4
76    27.5    1.6       20.7
79   116.0    7.7       23.1
197  177.0    9.3        6.4
38    43.1   26.7       35.1
24    62.3   12.6       18.3
122  224.0    2.4       15.6
195   38.2    3.7       13.8
29    70.6   16.0       40.8
19   147.3   23.9       19.1
143  104.6    5.7       34.4
86    76.3   27.5       16.0

In [184]:
y_test

     sales
95    16.9
15    22.4
30    21.4
158    7.3
128   24.7
115   12.6
69    22.3
170    8.4
174   11.5
45    14.9
66     9.5
182    8.7
165   11.9
78     5.3
186   10.3
177   11.7
56     5.5
152   16.6
82    11.3
68    18.9
124   19.7
16    12.5
148   10.9
93    22.2
65     9.3
60     8.1
84    21.7
67    13.4
125   10.6
132    5.7
9     10.6
18    11.3
55    23.7
75     8.7
150   16.1
104   20.7
135   11.6
137   20.8
164   11.9
76     6.9
79    11.0
197   12.8
38    10.1
24     9.7
122   11.6
195    7.6
29    10.5
19    14.6
143   10.4
86    12.0

In [185]:
# y_prediction

y_cap = list()
y_prediction = b_list[0]

for row in x_test.index:
    for i in range(len(x_test.columns)):
        y_prediction = y_prediction + b_list[i+1] * x_test[x_test.columns[i]][row]
    
    y_cap.append(y_prediction)
    y_prediction = b_list[0]

y_cap

[16.383482113311477,
 20.92434956860311,
 21.61495426261635,
 10.490699965305938,
 22.176904561119215,
 13.026680845553413,
 21.10309295386094,
 7.31813007564868,
 13.567321109152328,
 15.122386487507884,
 8.924941132904694,
 6.499244005196181,
 14.301199279996318,
 8.772335145446666,
 9.586654828878162,
 12.0948529126892,
 8.596216048824571,
 16.25337881394482,
 10.169481049225206,
 18.857534006188793,
 19.579903603569914,
 13.158770291583771,
 12.251037354070613,
 21.35141983518073,
 7.696076068322219,
 5.64686906135488,
 20.797800727727545,
 11.90951246943168,
 9.065810444726896,
 8.372956112198985,
 12.40815899134848,
 9.894160759155374,
 21.42707657913046,
 12.142368526406496,
 18.28776857144751,
 20.18114717763743,
 13.993030287767802,
 20.899877356852578,
 10.931395295035038,
 4.387216259296024,
 9.582134482801456,
 12.61702489927077,
 9.938519325583748,
 8.068162573267719,
 13.454978494373606,
 5.257694234748015,
 9.153995374304783,
 14.09552838149231,
 8.710298269463033,
 11.551028165836179]

In [186]:
len(y_cap)

50

## Model Evaluation on Test Dataset

In [187]:
y_test

     sales
95    16.9
15    22.4
30    21.4
158    7.3
128   24.7
115   12.6
69    22.3
170    8.4
174   11.5
45    14.9
66     9.5
182    8.7
165   11.9
78     5.3
186   10.3
177   11.7
56     5.5
152   16.6
82    11.3
68    18.9
124   19.7
16    12.5
148   10.9
93    22.2
65     9.3
60     8.1
84    21.7
67    13.4
125   10.6
132    5.7
9     10.6
18    11.3
55    23.7
75     8.7
150   16.1
104   20.7
135   11.6
137   20.8
164   11.9
76     6.9
79    11.0
197   12.8
38    10.1
24     9.7
122   11.6
195    7.6
29    10.5
19    14.6
143   10.4
86    12.0

In [188]:
# R Square

y_mean = y_test[y_test.columns[0]].mean()

sum1 = 0
sum2 = 0

for i in range(len(y_cap)):
    diff = y_test.iloc[i][y_test.columns[0]] - y_cap[i] 
    sum1 = sum1 + (diff ** 2)

for i in y_test.index:
    diff = y_test[y_test.columns[0]][i] - y_mean
    sum2 = sum2 + (diff ** 2)

r2 = 1 - (sum1 / sum2)

print(r2)

0.893516332016366

In [189]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_cap) # first comes actual value and then predicted value
print(r2)

0.893516332016366

In [190]:
# MSE

sum1 = 0

for i in range(len(y_cap)):
    diff = y_test.iloc[i][y_test.columns[0]] - y_cap[i] 
    sum1 = sum1 + (diff ** 2)

mse = sum1 / (len(y_cap))
print(mse)

2.8800237300941856

In [191]:
# RMSE

rmse = np.sqrt(mse)
rmse
print(rmse)

1.6970632663793608

In [192]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_cap)
print('MSE :',mse)
rmse = np.sqrt(mse)
print('RMSE :',rmse)

MSE : 2.8800237300941847
RMSE : 1.6970632663793606