# Generalized Linear Regression

## This is Single Linear Regression on placement dataset (CampusX)

## Library

In [131]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Dataset

In [132]:
df = pd.read_csv('placement.csv')

In [133]:
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

## Adding x0 = 1 as column

In [134]:
df = df.reset_index()
df

     index  cgpa  package
0        0  6.89     3.26
1        1  5.12     1.98
2        2  7.82     3.25
3        3  7.42     3.67
4        4  6.94     3.57
..     ...   ...      ...
195    195  6.93     2.46
196    196  5.89     2.57
197    197  7.21     3.24
198    198  7.63     3.96
199    199  6.22     2.33

[200 rows x 3 columns]

In [135]:
cols = df.columns
cols
cols = list(cols)

In [136]:
cols

['index', 'cgpa', 'package']

In [137]:
cols[0] = 'x0'
cols

['x0', 'cgpa', 'package']

In [138]:
df.columns = cols
df

      x0  cgpa  package
0      0  6.89     3.26
1      1  5.12     1.98
2      2  7.82     3.25
3      3  7.42     3.67
4      4  6.94     3.57
..   ...   ...      ...
195  195  6.93     2.46
196  196  5.89     2.57
197  197  7.21     3.24
198  198  7.63     3.96
199  199  6.22     2.33

[200 rows x 3 columns]

In [139]:
df['x0'] = 1
df

     x0  cgpa  package
0     1  6.89     3.26
1     1  5.12     1.98
2     1  7.82     3.25
3     1  7.42     3.67
4     1  6.94     3.57
..   ..   ...      ...
195   1  6.93     2.46
196   1  5.89     2.57
197   1  7.21     3.24
198   1  7.63     3.96
199   1  6.22     2.33

[200 rows x 3 columns]

## Train Test Split

In [140]:
l = [1,2,3,4,5]
print(l[:-1])
print(l[-1:])
print(l[-1])

[1, 2, 3, 4]
[5]
5

In [141]:
# x = df['TV']
# x

In [142]:
# x.ndim

#### Here the dimension of x is 1 which will cause error in train test split ,since tran test split expects x to be 2 dimensional.

#### so the way we can do is 
#### i)  x = np.array(df['TV']).reshape(len(x),1)
#### ii) x = df[['TV']]
#### ii) x = df[df.columns[:-1]]

In [143]:
# x = np.array(df['TV']).reshape(len(x),1)
# x
# x.ndim

In [144]:
# x = df[['TV']]
# x
# x.ndim

In [145]:
x = df[df.columns[:-1]]
x

     x0  cgpa
0     1  6.89
1     1  5.12
2     1  7.82
3     1  7.42
4     1  6.94
..   ..   ...
195   1  6.93
196   1  5.89
197   1  7.21
198   1  7.63
199   1  6.22

[200 rows x 2 columns]

In [146]:
x.ndim

2

In [147]:
y = df[df.columns[-1:]]
y

     package
0       3.26
1       1.98
2       3.25
3       3.67
4       3.57
..       ...
195     2.46
196     2.57
197     3.24
198     3.96
199     2.33

[200 rows x 1 columns]

In [148]:
y.ndim

2

In [149]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [150]:
x_train

     x0  cgpa
137   1  7.14
163   1  8.93
111   1  5.42
123   1  5.10
109   1  7.77
..   ..   ...
43    1  7.66
22    1  6.14
72    1  7.78
15    1  7.25
168   1  8.65

[160 rows x 2 columns]

In [151]:
# x_train = x_train.reset_index()
# x_train

In [152]:
y_train

     package
137     3.13
163     3.91
111     2.25
123     2.30
109     4.06
..       ...
43      2.76
22      2.30
72      3.62
15      3.23
168     3.52

[160 rows x 1 columns]

# Linear Regression

In [153]:
np.array(x_train)

array([[1.  , 7.14],
       [1.  , 8.93],
       [1.  , 5.42],
       [1.  , 5.1 ],
       [1.  , 7.77],
       [1.  , 6.76],
       [1.  , 6.89],
       [1.  , 6.68],
       [1.  , 7.91],
       [1.  , 7.89],
       [1.  , 8.71],
       [1.  , 7.95],
       [1.  , 6.61],
       [1.  , 6.26],
       [1.  , 6.53],
       [1.  , 6.42],
       [1.  , 5.11],
       [1.  , 6.09],
       [1.  , 6.93],
       [1.  , 7.04],
       [1.  , 5.94],
       [1.  , 6.05],
       [1.  , 5.83],
       [1.  , 5.95],
       [1.  , 9.31],
       [1.  , 5.58],
       [1.  , 7.88],
       [1.  , 6.13],
       [1.  , 7.76],
       [1.  , 4.85],
       [1.  , 6.19],
       [1.  , 8.6 ],
       [1.  , 6.07],
       [1.  , 7.18],
       [1.  , 5.12],
       [1.  , 7.39],
       [1.  , 8.25],
       [1.  , 8.28],
       [1.  , 7.13],
       [1.  , 7.35],
       [1.  , 5.66],
       [1.  , 5.99],
       [1.  , 8.01],
       [1.  , 7.14],
       [1.  , 6.34],
       [1.  , 6.89],
       [1.  , 5.42],
       [1.  , 6.47],
       [1.  , 7.69],
       [1.  , 7.4 ],
       [1.  , 7.28],
       [1.  , 5.95],
       [1.  , 7.38],
       [1.  , 6.93],
       [1.  , 8.99],
       [1.  , 7.36],
       [1.  , 7.08],
       [1.  , 5.38],
       [1.  , 7.56],
       [1.  , 8.22],
       [1.  , 5.84],
       [1.  , 6.78],
       [1.  , 7.19],
       [1.  , 7.28],
       [1.  , 6.79],
       [1.  , 6.12],
       [1.  , 6.85],
       [1.  , 8.2 ],
       [1.  , 6.84],
       [1.  , 7.37],
       [1.  , 6.22],
       [1.  , 6.61],
       [1.  , 5.23],
       [1.  , 7.21],
       [1.  , 6.85],
       [1.  , 6.19],
       [1.  , 7.3 ],
       [1.  , 6.17],
       [1.  , 5.89],
       [1.  , 8.09],
       [1.  , 7.11],
       [1.  , 4.26],
       [1.  , 6.94],
       [1.  , 5.98],
       [1.  , 6.71],
       [1.  , 7.33],
       [1.  , 9.06],
       [1.  , 6.1 ],
       [1.  , 5.48],
       [1.  , 6.1 ],
       [1.  , 7.56],
       [1.  , 7.29],
       [1.  , 5.84],
       [1.  , 7.48],
       [1.  , 7.61],
       [1.  , 5.79],
       [1.  , 5.61],
       [1.  , 7.34],
       [1.  , 9.38],
       [1.  , 7.91],
       [1.  , 6.94],
       [1.  , 7.94],
       [1.  , 8.31],
       [1.  , 6.96],
       [1.  , 6.93],
       [1.  , 7.11],
       [1.  , 8.44],
       [1.  , 8.18],
       [1.  , 6.66],
       [1.  , 8.44],
       [1.  , 7.12],
       [1.  , 6.3 ],
       [1.  , 5.84],
       [1.  , 6.98],
       [1.  , 7.63],
       [1.  , 5.64],
       [1.  , 7.43],
       [1.  , 8.87],
       [1.  , 7.84],
       [1.  , 5.84],
       [1.  , 9.58],
       [1.  , 8.37],
       [1.  , 7.63],
       [1.  , 6.31],
       [1.  , 6.5 ],
       [1.  , 8.11],
       [1.  , 6.07],
       [1.  , 4.73],
       [1.  , 7.3 ],
       [1.  , 6.51],
       [1.  , 7.28],
       [1.  , 6.92],
       [1.  , 6.35],
       [1.  , 8.62],
       [1.  , 7.05],
       [1.  , 9.26],
       [1.  , 6.33],
       [1.  , 6.22],
       [1.  , 6.94],
       [1.  , 5.13],
       [1.  , 8.13],
       [1.  , 5.9 ],
       [1.  , 9.04],
       [1.  , 6.06],
       [1.  , 7.57],
       [1.  , 8.1 ],
       [1.  , 9.16],
       [1.  , 5.84],
       [1.  , 7.89],
       [1.  , 6.63],
       [1.  , 7.09],
       [1.  , 5.53],
       [1.  , 6.75],
       [1.  , 7.62],
       [1.  , 6.97],
       [1.  , 7.66],
       [1.  , 6.14],
       [1.  , 7.78],
       [1.  , 7.25],
       [1.  , 8.65]])

In [154]:
X = np.array(x_train)
X

array([[1.  , 7.14],
       [1.  , 8.93],
       [1.  , 5.42],
       [1.  , 5.1 ],
       [1.  , 7.77],
       [1.  , 6.76],
       [1.  , 6.89],
       [1.  , 6.68],
       [1.  , 7.91],
       [1.  , 7.89],
       [1.  , 8.71],
       [1.  , 7.95],
       [1.  , 6.61],
       [1.  , 6.26],
       [1.  , 6.53],
       [1.  , 6.42],
       [1.  , 5.11],
       [1.  , 6.09],
       [1.  , 6.93],
       [1.  , 7.04],
       [1.  , 5.94],
       [1.  , 6.05],
       [1.  , 5.83],
       [1.  , 5.95],
       [1.  , 9.31],
       [1.  , 5.58],
       [1.  , 7.88],
       [1.  , 6.13],
       [1.  , 7.76],
       [1.  , 4.85],
       [1.  , 6.19],
       [1.  , 8.6 ],
       [1.  , 6.07],
       [1.  , 7.18],
       [1.  , 5.12],
       [1.  , 7.39],
       [1.  , 8.25],
       [1.  , 8.28],
       [1.  , 7.13],
       [1.  , 7.35],
       [1.  , 5.66],
       [1.  , 5.99],
       [1.  , 8.01],
       [1.  , 7.14],
       [1.  , 6.34],
       [1.  , 6.89],
       [1.  , 5.42],
       [1.  , 6.47],
       [1.  , 7.69],
       [1.  , 7.4 ],
       [1.  , 7.28],
       [1.  , 5.95],
       [1.  , 7.38],
       [1.  , 6.93],
       [1.  , 8.99],
       [1.  , 7.36],
       [1.  , 7.08],
       [1.  , 5.38],
       [1.  , 7.56],
       [1.  , 8.22],
       [1.  , 5.84],
       [1.  , 6.78],
       [1.  , 7.19],
       [1.  , 7.28],
       [1.  , 6.79],
       [1.  , 6.12],
       [1.  , 6.85],
       [1.  , 8.2 ],
       [1.  , 6.84],
       [1.  , 7.37],
       [1.  , 6.22],
       [1.  , 6.61],
       [1.  , 5.23],
       [1.  , 7.21],
       [1.  , 6.85],
       [1.  , 6.19],
       [1.  , 7.3 ],
       [1.  , 6.17],
       [1.  , 5.89],
       [1.  , 8.09],
       [1.  , 7.11],
       [1.  , 4.26],
       [1.  , 6.94],
       [1.  , 5.98],
       [1.  , 6.71],
       [1.  , 7.33],
       [1.  , 9.06],
       [1.  , 6.1 ],
       [1.  , 5.48],
       [1.  , 6.1 ],
       [1.  , 7.56],
       [1.  , 7.29],
       [1.  , 5.84],
       [1.  , 7.48],
       [1.  , 7.61],
       [1.  , 5.79],
       [1.  , 5.61],
       [1.  , 7.34],
       [1.  , 9.38],
       [1.  , 7.91],
       [1.  , 6.94],
       [1.  , 7.94],
       [1.  , 8.31],
       [1.  , 6.96],
       [1.  , 6.93],
       [1.  , 7.11],
       [1.  , 8.44],
       [1.  , 8.18],
       [1.  , 6.66],
       [1.  , 8.44],
       [1.  , 7.12],
       [1.  , 6.3 ],
       [1.  , 5.84],
       [1.  , 6.98],
       [1.  , 7.63],
       [1.  , 5.64],
       [1.  , 7.43],
       [1.  , 8.87],
       [1.  , 7.84],
       [1.  , 5.84],
       [1.  , 9.58],
       [1.  , 8.37],
       [1.  , 7.63],
       [1.  , 6.31],
       [1.  , 6.5 ],
       [1.  , 8.11],
       [1.  , 6.07],
       [1.  , 4.73],
       [1.  , 7.3 ],
       [1.  , 6.51],
       [1.  , 7.28],
       [1.  , 6.92],
       [1.  , 6.35],
       [1.  , 8.62],
       [1.  , 7.05],
       [1.  , 9.26],
       [1.  , 6.33],
       [1.  , 6.22],
       [1.  , 6.94],
       [1.  , 5.13],
       [1.  , 8.13],
       [1.  , 5.9 ],
       [1.  , 9.04],
       [1.  , 6.06],
       [1.  , 7.57],
       [1.  , 8.1 ],
       [1.  , 9.16],
       [1.  , 5.84],
       [1.  , 7.89],
       [1.  , 6.63],
       [1.  , 7.09],
       [1.  , 5.53],
       [1.  , 6.75],
       [1.  , 7.62],
       [1.  , 6.97],
       [1.  , 7.66],
       [1.  , 6.14],
       [1.  , 7.78],
       [1.  , 7.25],
       [1.  , 8.65]])

In [155]:
np.transpose(X)

array([[1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  ],
       [7.14, 8.93, 5.42, 5.1 , 7.77, 6.76, 6.89, 6.68, 7.91, 7.89, 8.71,
        7.95, 6.61, 6.26, 6.53, 6.42, 5.11, 6.09, 6.93, 7.04, 5.94, 6.05,
        5.83, 5.95, 9.31, 5.58, 7.88, 6.13, 7.76, 4.85, 6.19, 8.6 , 6.07,
        7.18, 5.12, 7.39, 8.25, 8.28, 7.13, 7.35, 5.66, 5.99, 8.01, 7.14,
        6.34, 6.89, 5.42, 6.47, 7.69, 7.4 , 7.28, 5.95, 7.38, 6.93, 8.99,
        7.36, 7.08, 5.38, 7.56, 8.22, 5.84, 6.78, 7.19, 7.28, 6.79, 6.12,
        6.85, 8.2 , 6.84, 7.37, 6.22, 6.61, 5.23, 7.21, 6.85, 6.19, 7.3 ,
        6.17, 5.89, 8.09, 7.11, 4.26, 6.94, 5.98, 6.71, 7.33, 9.06, 6.1 ,
        5.48, 6.1 , 7.56, 7.29, 5.84, 7.48, 7.61, 5.79, 5.61, 7.34, 9.38,
        7.91, 6.94, 7.94, 8.31, 6.96, 6.93, 7.11, 8.44, 8.18, 6.66, 8.44,
        7.12, 6.3 , 5.84, 6.98, 7.63, 5.64, 7.43, 8.87, 7.84, 5.84, 9.58,
        8.37, 7.63, 6.31, 6.5 , 8.11, 6.07, 4.73, 7.3 , 6.51, 7.28, 6.92,
        6.35, 8.62, 7.05, 9.26, 6.33, 6.22, 6.94, 5.13, 8.13, 5.9 , 9.04,
        6.06, 7.57, 8.1 , 9.16, 5.84, 7.89, 6.63, 7.09, 5.53, 6.75, 7.62,
        6.97, 7.66, 6.14, 7.78, 7.25, 8.65]])

In [156]:
Xt = np.transpose(X)
Xt

array([[1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  , 1.  ,
        1.  , 1.  , 1.  , 1.  , 1.  , 1.  ],
       [7.14, 8.93, 5.42, 5.1 , 7.77, 6.76, 6.89, 6.68, 7.91, 7.89, 8.71,
        7.95, 6.61, 6.26, 6.53, 6.42, 5.11, 6.09, 6.93, 7.04, 5.94, 6.05,
        5.83, 5.95, 9.31, 5.58, 7.88, 6.13, 7.76, 4.85, 6.19, 8.6 , 6.07,
        7.18, 5.12, 7.39, 8.25, 8.28, 7.13, 7.35, 5.66, 5.99, 8.01, 7.14,
        6.34, 6.89, 5.42, 6.47, 7.69, 7.4 , 7.28, 5.95, 7.38, 6.93, 8.99,
        7.36, 7.08, 5.38, 7.56, 8.22, 5.84, 6.78, 7.19, 7.28, 6.79, 6.12,
        6.85, 8.2 , 6.84, 7.37, 6.22, 6.61, 5.23, 7.21, 6.85, 6.19, 7.3 ,
        6.17, 5.89, 8.09, 7.11, 4.26, 6.94, 5.98, 6.71, 7.33, 9.06, 6.1 ,
        5.48, 6.1 , 7.56, 7.29, 5.84, 7.48, 7.61, 5.79, 5.61, 7.34, 9.38,
        7.91, 6.94, 7.94, 8.31, 6.96, 6.93, 7.11, 8.44, 8.18, 6.66, 8.44,
        7.12, 6.3 , 5.84, 6.98, 7.63, 5.64, 7.43, 8.87, 7.84, 5.84, 9.58,
        8.37, 7.63, 6.31, 6.5 , 8.11, 6.07, 4.73, 7.3 , 6.51, 7.28, 6.92,
        6.35, 8.62, 7.05, 9.26, 6.33, 6.22, 6.94, 5.13, 8.13, 5.9 , 9.04,
        6.06, 7.57, 8.1 , 9.16, 5.84, 7.89, 6.63, 7.09, 5.53, 6.75, 7.62,
        6.97, 7.66, 6.14, 7.78, 7.25, 8.65]])

In [157]:
XtX = np.dot(Xt,X)
XtX

array([[ 160.    , 1118.39  ],
       [1118.39  , 7998.8607]])

In [158]:
XtXinverse = np.linalg.inv(XtX)
XtXinverse

array([[ 0.27561826, -0.03853658],
       [-0.03853658,  0.00551315]])

In [159]:
b = np.dot(XtXinverse,Xt)
b

array([[ 4.67105102e-04, -6.85133655e-02,  6.67500154e-02,
         7.90817196e-02, -2.38109376e-02,  1.51110039e-02,
         1.01012490e-02,  1.81939299e-02, -2.92060582e-02,
        -2.84353267e-02, -6.00353188e-02, -3.07475213e-02,
         2.08914902e-02,  3.43792918e-02,  2.39744163e-02,
         2.82134396e-02,  7.86963539e-02,  4.09305096e-02,
         8.55978601e-03,  4.32076268e-03,  4.67109960e-02,
         4.24719727e-02,  5.09500193e-02,  4.63256302e-02,
        -8.31572643e-02,  6.05841633e-02, -2.80499610e-02,
         3.93890466e-02, -2.34255719e-02,  8.87158636e-02,
         3.70768521e-02, -5.57962955e-02,  4.17012412e-02,
        -1.07435793e-03,  7.83109881e-02, -9.16703884e-03,
        -4.23084940e-02, -4.34645913e-02,  8.52470859e-04,
        -7.62557581e-03,  5.75012372e-02,  4.47841672e-02,
        -3.30597158e-02,  4.67105102e-04,  3.12963657e-02,
         1.01012490e-02,  6.67500154e-02,  2.62866109e-02,
        -2.07280116e-02, -9.55240459e-03, -4.92801550e-03,
         4.63256302e-02, -8.78167308e-03,  8.55978601e-03,
        -7.08255600e-02, -8.01094156e-03,  2.77929965e-03,
         6.82914784e-02, -1.57182567e-02, -4.11523967e-02,
         5.05646536e-02,  1.43402724e-02, -1.45972369e-03,
        -4.92801550e-03,  1.39549066e-02,  3.97744124e-02,
         1.16427121e-02, -4.03816652e-02,  1.20280778e-02,
        -8.39630732e-03,  3.59207548e-02,  2.08914902e-02,
         7.40719648e-02, -2.23045520e-03,  1.16427121e-02,
         3.70768521e-02, -5.69874702e-03,  3.78475836e-02,
         4.86378248e-02, -3.61426419e-02,  1.62320237e-03,
         1.11452443e-01,  8.17442025e-03,  4.51695330e-02,
         1.70378327e-02, -6.85484429e-03, -7.35231203e-02,
         4.05451439e-02,  6.44378208e-02,  4.05451439e-02,
        -1.57182567e-02, -5.31338126e-03,  5.05646536e-02,
        -1.26353307e-02, -1.76450855e-02,  5.24914824e-02,
         5.94280660e-02, -7.24021005e-03, -8.58548246e-02,
        -2.92060582e-02,  8.17442025e-03, -3.03621555e-02,
        -4.46206885e-02,  7.40368874e-03,  8.55978601e-03,
         1.62320237e-03, -4.96304434e-02, -3.96109337e-02,
         1.89646615e-02, -4.96304434e-02,  1.23783662e-03,
         3.28378287e-02,  5.05646536e-02,  6.63295722e-03,
        -1.84158170e-02,  5.82719687e-02, -1.07085019e-02,
        -6.62011709e-02, -2.65084979e-02,  5.05646536e-02,
        -9.35621397e-02, -4.69328831e-02, -1.84158170e-02,
         3.24524630e-02,  2.51305136e-02, -3.69133734e-02,
         4.17012412e-02,  9.33402527e-02, -5.69874702e-03,
         2.47451478e-02, -4.92801550e-03,  8.94515177e-03,
         3.09109999e-02, -5.65670270e-02,  3.93539692e-03,
        -8.12304355e-02,  3.16817315e-02,  3.59207548e-02,
         8.17442025e-03,  7.79256224e-02, -3.76841049e-02,
         4.82524590e-02, -7.27523888e-02,  4.20866069e-02,
        -1.61036225e-02, -3.65280076e-02, -7.73767779e-02,
         5.05646536e-02, -2.84353267e-02,  2.01207587e-02,
         2.39393389e-03,  6.25109921e-02,  1.54963696e-02,
        -1.80304513e-02,  7.01832298e-03, -1.95719143e-02,
         3.90036809e-02, -2.41963034e-02, -3.77191823e-03,
        -5.77231243e-02],
       [ 8.27317111e-04,  1.06958561e-02, -8.65530134e-03,
        -1.04195094e-02,  4.30060178e-03, -1.26767999e-03,
        -5.50970454e-04, -1.70873201e-03,  5.07244281e-03,
         4.96217981e-03,  9.48296302e-03,  5.29296882e-03,
        -2.09465253e-03, -4.02425512e-03, -2.53570455e-03,
        -3.14215108e-03, -1.03643779e-02, -4.96149066e-03,
        -3.30444444e-04,  2.76002085e-04, -5.78846320e-03,
        -5.18201667e-03, -6.39490973e-03, -5.73333170e-03,
         1.27908532e-02, -7.77319730e-03,  4.90704830e-03,
        -4.74096465e-03,  4.24547027e-03, -1.17977970e-02,
        -4.41017564e-03,  8.87651649e-03, -5.07175367e-03,
         1.04784312e-03, -1.03092464e-02,  2.20560468e-03,
         6.94691390e-03,  7.11230841e-03,  7.72185608e-04,
         1.98507867e-03, -7.33214527e-03, -5.51280569e-03,
         5.62375784e-03,  8.27317111e-04, -3.58320310e-03,
        -5.50970454e-04, -8.65530134e-03, -2.86649356e-03,
         3.85954975e-03,  2.26073618e-03,  1.59915815e-03,
        -5.73333170e-03,  2.15047317e-03, -3.30444444e-04,
         1.10266451e-02,  2.04021017e-03,  4.96528095e-04,
        -8.87582735e-03,  3.14284022e-03,  6.78151939e-03,
        -6.33977823e-03, -1.15741698e-03,  1.10297462e-03,
         1.59915815e-03, -1.10228548e-03, -4.79609615e-03,
        -7.71496465e-04,  6.67125639e-03, -8.26627967e-04,
         2.09534167e-03, -4.24478113e-03, -2.09465253e-03,
        -9.70279989e-03,  1.21323763e-03, -7.71496465e-04,
        -4.41017564e-03,  1.70942115e-03, -4.52043864e-03,
        -6.06412071e-03,  6.06480986e-03,  6.61922603e-04,
        -1.50505556e-02, -2.75312941e-04, -5.56793719e-03,
        -1.54333750e-03,  1.87481566e-03,  1.14125656e-02,
        -4.90635916e-03, -8.32451232e-03, -4.90635916e-03,
         3.14284022e-03,  1.65428965e-03, -6.33977823e-03,
         2.70178820e-03,  3.41849773e-03, -6.61543574e-03,
        -7.60780279e-03,  1.92994716e-03,  1.31767737e-02,
         5.07244281e-03, -2.75312941e-04,  5.23783732e-03,
         7.27770292e-03, -1.65049936e-04, -3.30444444e-04,
         6.61922603e-04,  7.99441245e-03,  6.56099338e-03,
        -1.81899501e-03,  7.99441245e-03,  7.17054106e-04,
        -3.80372911e-03, -6.33977823e-03, -5.47869307e-05,
         3.52876074e-03, -7.44240828e-03,  2.42613069e-03,
         1.03650671e-02,  4.68652229e-03, -6.33977823e-03,
         1.42794037e-02,  7.60849193e-03,  3.52876074e-03,
        -3.74859761e-03, -2.70109906e-03,  6.17507286e-03,
        -5.07175367e-03, -1.24593750e-02,  1.70942115e-03,
        -2.64596755e-03,  1.59915815e-03, -3.85575946e-04,
        -3.52807159e-03,  8.98677950e-03,  3.31133588e-04,
         1.25151957e-02, -3.63833460e-03, -4.24478113e-03,
        -2.75312941e-04, -1.02541149e-02,  6.28533587e-03,
        -6.00898921e-03,  1.13023026e-02, -5.12688517e-03,
         3.19797172e-03,  6.11994136e-03,  1.19638806e-02,
        -6.33977823e-03,  4.96217981e-03, -1.98438952e-03,
         5.51659598e-04, -8.04885481e-03, -1.32281149e-03,
         3.47362924e-03, -1.09918433e-04,  3.69415525e-03,
        -4.68583315e-03,  4.35573328e-03,  1.43376364e-03,
         9.15217400e-03]])

In [160]:
np.array(y_train)

array([[3.13],
       [3.91],
       [2.25],
       [2.3 ],
       [4.06],
       [3.18],
       [2.7 ],
       [2.49],
       [3.15],
       [2.99],
       [4.08],
       [4.14],
       [2.6 ],
       [2.44],
       [2.71],
       [2.72],
       [1.63],
       [2.31],
       [2.51],
       [3.5 ],
       [2.24],
       [2.58],
       [2.42],
       [2.54],
       [4.37],
       [2.17],
       [3.14],
       [2.19],
       [3.54],
       [1.54],
       [2.72],
       [3.98],
       [2.46],
       [3.  ],
       [1.98],
       [2.65],
       [3.75],
       [3.67],
       [2.93],
       [3.08],
       [2.21],
       [2.84],
       [3.76],
       [3.03],
       [2.09],
       [3.26],
       [2.16],
       [2.7 ],
       [3.83],
       [2.88],
       [3.16],
       [3.04],
       [3.13],
       [3.04],
       [4.6 ],
       [3.26],
       [2.85],
       [2.09],
       [3.31],
       [3.89],
       [1.87],
       [3.11],
       [2.4 ],
       [3.48],
       [3.08],
       [2.76],
       [2.93],
       [3.39],
       [2.35],
       [3.08],
       [2.14],
       [3.24],
       [1.73],
       [3.24],
       [3.44],
       [2.69],
       [3.33],
       [2.42],
       [2.57],
       [3.55],
       [2.66],
       [1.53],
       [2.98],
       [2.84],
       [3.52],
       [3.16],
       [3.82],
       [2.6 ],
       [1.61],
       [2.2 ],
       [2.99],
       [3.12],
       [2.74],
       [2.83],
       [2.77],
       [2.35],
       [2.19],
       [3.42],
       [4.02],
       [3.89],
       [3.15],
       [3.99],
       [3.42],
       [3.08],
       [2.46],
       [2.61],
       [3.49],
       [3.76],
       [2.82],
       [4.03],
       [2.99],
       [2.73],
       [2.18],
       [3.09],
       [3.96],
       [2.1 ],
       [3.33],
       [4.62],
       [3.47],
       [2.48],
       [4.43],
       [4.11],
       [3.44],
       [3.18],
       [3.02],
       [4.06],
       [2.26],
       [1.48],
       [2.94],
       [2.89],
       [2.72],
       [3.09],
       [2.73],
       [4.36],
       [3.  ],
       [3.79],
       [2.59],
       [2.87],
       [3.57],
       [1.37],
       [3.6 ],
       [2.43],
       [3.33],
       [2.31],
       [3.4 ],
       [3.89],
       [4.25],
       [3.26],
       [3.67],
       [2.79],
       [3.64],
       [2.55],
       [2.48],
       [3.74],
       [3.28],
       [2.76],
       [2.3 ],
       [3.62],
       [3.23],
       [3.52]])

In [161]:
Y = np.array(y_train)
Y

array([[3.13],
       [3.91],
       [2.25],
       [2.3 ],
       [4.06],
       [3.18],
       [2.7 ],
       [2.49],
       [3.15],
       [2.99],
       [4.08],
       [4.14],
       [2.6 ],
       [2.44],
       [2.71],
       [2.72],
       [1.63],
       [2.31],
       [2.51],
       [3.5 ],
       [2.24],
       [2.58],
       [2.42],
       [2.54],
       [4.37],
       [2.17],
       [3.14],
       [2.19],
       [3.54],
       [1.54],
       [2.72],
       [3.98],
       [2.46],
       [3.  ],
       [1.98],
       [2.65],
       [3.75],
       [3.67],
       [2.93],
       [3.08],
       [2.21],
       [2.84],
       [3.76],
       [3.03],
       [2.09],
       [3.26],
       [2.16],
       [2.7 ],
       [3.83],
       [2.88],
       [3.16],
       [3.04],
       [3.13],
       [3.04],
       [4.6 ],
       [3.26],
       [2.85],
       [2.09],
       [3.31],
       [3.89],
       [1.87],
       [3.11],
       [2.4 ],
       [3.48],
       [3.08],
       [2.76],
       [2.93],
       [3.39],
       [2.35],
       [3.08],
       [2.14],
       [3.24],
       [1.73],
       [3.24],
       [3.44],
       [2.69],
       [3.33],
       [2.42],
       [2.57],
       [3.55],
       [2.66],
       [1.53],
       [2.98],
       [2.84],
       [3.52],
       [3.16],
       [3.82],
       [2.6 ],
       [1.61],
       [2.2 ],
       [2.99],
       [3.12],
       [2.74],
       [2.83],
       [2.77],
       [2.35],
       [2.19],
       [3.42],
       [4.02],
       [3.89],
       [3.15],
       [3.99],
       [3.42],
       [3.08],
       [2.46],
       [2.61],
       [3.49],
       [3.76],
       [2.82],
       [4.03],
       [2.99],
       [2.73],
       [2.18],
       [3.09],
       [3.96],
       [2.1 ],
       [3.33],
       [4.62],
       [3.47],
       [2.48],
       [4.43],
       [4.11],
       [3.44],
       [3.18],
       [3.02],
       [4.06],
       [2.26],
       [1.48],
       [2.94],
       [2.89],
       [2.72],
       [3.09],
       [2.73],
       [4.36],
       [3.  ],
       [3.79],
       [2.59],
       [2.87],
       [3.57],
       [1.37],
       [3.6 ],
       [2.43],
       [3.33],
       [2.31],
       [3.4 ],
       [3.89],
       [4.25],
       [3.26],
       [3.67],
       [2.79],
       [3.64],
       [2.55],
       [2.48],
       [3.74],
       [3.28],
       [2.76],
       [2.3 ],
       [3.62],
       [3.23],
       [3.52]])

In [162]:
b = np.dot(b,Y)
b

array([[-0.89611192],
       [ 0.55795197]])

In [163]:
b.shape

(2, 1)

In [164]:
b.ndim

2

In [166]:
n = len(x_train.columns)
n

2

In [167]:
print('intercept :',b[0,0])

intercept : -0.8961119222429405

In [168]:
print('coefficients :')
for i in range(1,n):
    print('b'+str(i),':',b[i,0])

coefficients :
b1 : 0.5579519734250753

In [171]:
b

array([[-0.89611192],
       [ 0.55795197]])

In [169]:
x_test

     x0  cgpa
112   1  8.58
29    1  7.15
182   1  5.88
199   1  6.22
193   1  4.57
85    1  4.79
10    1  5.32
54    1  6.86
115   1  8.35
35    1  6.87
12    1  8.94
92    1  7.90
13    1  6.93
126   1  5.91
174   1  7.32
2     1  7.82
44    1  5.09
3     1  7.42
113   1  6.94
14    1  7.73
23    1  6.19
25    1  7.28
6     1  6.73
134   1  7.20
165   1  8.21
173   1  6.75
45    1  7.87
65    1  7.60
48    1  8.63
122   1  5.12
178   1  8.15
64    1  7.36
9     1  8.31
57    1  6.60
78    1  6.59
71    1  7.47
128   1  7.93
176   1  6.29
131   1  6.37
53    1  6.47

In [170]:
y_test

     package
112     4.10
29      3.49
182     2.08
199     2.33
193     1.94
85      1.48
10      1.86
54      3.09
115     4.21
35      2.87
12      3.65
92      4.00
13      2.89
126     2.60
174     2.99
2       3.25
44      1.86
3       3.67
113     2.37
14      3.42
23      2.48
25      3.65
6       2.60
134     2.83
165     4.08
173     2.56
45      3.58
65      3.81
48      4.09
122     2.01
178     3.63
64      2.92
9       3.51
57      1.94
78      2.21
71      3.34
128     3.34
176     3.23
131     2.01
53      2.61

In [172]:
# y_prediction

y_cap = list()
y_prediction = 0

for row in x_test.index:
    for i in range(len(x_test.columns)):
        y_prediction = y_prediction + b[i,0] * x_test[x_test.columns[i]][row]
    
    y_cap.append(y_prediction)
    y_prediction = 0

y_cap

[3.8911160097442052,
 3.093244687746348,
 2.3846456814965022,
 2.5743493524610277,
 1.6537285963096537,
 1.7764780304631702,
 2.0721925763784603,
 2.931438615453076,
 3.7627870558564376,
 2.937018135187327,
 4.091978720177233,
 3.5117086678151543,
 2.9704952535928313,
 2.4013842406992545,
 3.188096523228611,
 3.4670725099411484,
 1.9438636224906927,
 3.2438917205711184,
 2.976074773327082,
 3.416856832332892,
 2.557610793258276,
 3.165778444291608,
 2.8589048589078163,
 3.121142286417602,
 3.684673779576928,
 2.870063898376318,
 3.4949701086124025,
 3.344323075787632,
 3.9190136084154594,
 1.960602181693445,
 3.6511966611714235,
 3.210414602165614,
 3.7404689769194355,
 2.786371102362556,
 2.7807915826283054,
 3.2717893192423717,
 3.528447227017906,
 2.613405990600783,
 2.6580421484747894,
 2.7138373458172964]

In [173]:
len(y_cap)

40

## Model Evaluation on Test Dataset

In [174]:
y_test

     package
112     4.10
29      3.49
182     2.08
199     2.33
193     1.94
85      1.48
10      1.86
54      3.09
115     4.21
35      2.87
12      3.65
92      4.00
13      2.89
126     2.60
174     2.99
2       3.25
44      1.86
3       3.67
113     2.37
14      3.42
23      2.48
25      3.65
6       2.60
134     2.83
165     4.08
173     2.56
45      3.58
65      3.81
48      4.09
122     2.01
178     3.63
64      2.92
9       3.51
57      1.94
78      2.21
71      3.34
128     3.34
176     3.23
131     2.01
53      2.61

In [175]:
# R Square

y_mean = y_test[y_test.columns[0]].mean()

sum1 = 0
sum2 = 0

for i in range(len(y_cap)):
    diff = y_test.iloc[i][y_test.columns[0]] - y_cap[i] 
    sum1 = sum1 + (diff ** 2)

for i in y_test.index:
    diff = y_test[y_test.columns[0]][i] - y_mean
    sum2 = sum2 + (diff ** 2)

r2 = 1 - (sum1 / sum2)

print(r2)

0.7807301475103854

In [176]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_cap) # first comes actual value and then predicted value
print(r2)

0.7807301475103854

In [177]:
# MSE

sum1 = 0

for i in range(len(y_cap)):
    diff = y_test.iloc[i][y_test.columns[0]] - y_cap[i] 
    sum1 = sum1 + (diff ** 2)

mse = sum1 / (len(y_cap))
print(mse)

0.12129235313495457

In [178]:
# RMSE

rmse = np.sqrt(mse)
rmse
print(rmse)

0.34827051717731516

In [179]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_cap)
print('MSE :',mse)
rmse = np.sqrt(mse)
print('RMSE :',rmse)

MSE : 0.12129235313495457
RMSE : 0.34827051717731516